@use "../styles/theme.scss";

:local(.sign-in-button) {
  display: none;
  @media(min-width: theme.$breakpoint-lg) {
    display: flex;
  }
}

:local(.mobile-sign-in) {
  display: flex;
  background: #fff;
  margin: 47px auto -10px;
  @media(min-width: theme.$breakpoint-lg) {
    display: none;
  }
}